*~
.codelite
.idea
.vscode

*.mk
*.project
*.workspace

Makefile

*.d
*.o
canvas
lemin
text
/examples/temp
/examples/capy
/examples/coordinates
/examples/funcaptcha
/examples/geetest
/examples/grid
/examples/normal
/examples/recaptcha
/examples/prosopo
/examples/captchafox
/examples/temu
/examples/vkcaptcha
/examples/vkimage
geetest_v4