*~
.codelite
.idea
.vscode

*.mk
*.project
*.workspace

Makefile

*.d
*.o
canvas
lemin
text

/examples/capy
/examples/coordinates
/examples/funcaptcha
/examples/geetest
/examples/grid
/examples/normal
/examples/vk
/examples/recaptcha
/examples/prosopo
/examples/captchafox